{{define "content"}}
    <div >
        <a  href="/">Home</a>
        <a  href="/unleash/">Unleash</a>
        <div > / </div>
        {{ if eq .action "create" }}
            <div >New</div>
        {{ else }}
            <a  href="/unleash/{{ .name }}">{{ .name }}</a>
            <div >Edit</div>
        {{ end }}
    </div>

    <h3 >Instance Config</h3>

    <form class="ui form{{ if .error }} error{{ end }}" method="POST">
        <div class="name field{{ if .nameError}} error{{ end }}">
            <label>Instance Name</label>
            <input name="name" type="text"{{ if eq .action "edit" }} disabled{{ end }} value="{{ .name }}">
        </div>
        <div class="version field{{ if .customVersionError }} error{{ end }}">
            <label>Custom Version</label>

            <div >
                <input name="custom-version" type="hidden" value="{{ .customVersion }}">
                <div >Latest Versions</div>
                <div >
                    {{ range .unleashVersions }}
                        <div  data-value="{{ .GitTag }}">{{ .GitTag }}</div>
                    {{ end }}
                </div>
            </div>
        </div>

        <div >
            <label>Enable Federation</label>
            <div >
                <input name="enable-federation" type="checkbox" value="on"{{ if .enableFederation }} checked{{ end }}>
                <label>Enable federation to allowed clusters and namespaces</label>
            </div>
        </div>

        <div class="teams field{{ if .allowedTeamsError }} error{{ end }}">
            <label>Allowed Teams</label>
            <div >
                <input name="allowed-teams" type="hidden" value="{{ .allowedTeams }}">
                <i ></i>
                <div >Teams</div>
                <div ></div>
            </div>
            <p>Teams that are allowed to access the Unleash server.</p>
        </div>

        <div class="namespaces field{{ if .allowedNamespacesError }} error{{ end }}">
            <label>Allowed Namespaces</label>
            <div >
                <input name="allowed-namespaces" type="hidden" value="{{ .allowedNamespaces }}">
                <i ></i>
                <div >Namespaces</div>
                <div ></div>
            </div>
            <p>Namespaces that are allowed to access the Unleash server.</p>
        </div>

        <div class="clusters field{{ if .allowedClistersError }} error{{ end }}">
            <label>Allowed Clusters</label>
            <div >
                <input name="allowed-clusters" type="hidden" value="{{ .allowedClusters }}">
                <i ></i>
                <div >Clusters</div>
                <div >
                    <div  data-value="prod-gcp">prod-gcp</div>
                    <div  data-value="dev-gcp">dev-gcp</div>
                    <div  data-value="prod-fss">prod-fss</div>
                    <div  data-value="dev-fss">dev-fss</div>
                </div>
            </div>
            <p>Clusters that are allowed to access this Unleash server.</p>
        </div>

        <div >
            <label for="fruit">Log Level:</label>
            <div >
                <div class="ui radio checkbox{{ if eq .logLevel "error"}} checked{{ end }}">
                    <input type="radio" name="loglevel" value="error" {{ if eq .logLevel "error"}}checked="checked" {{ end }}tabindex="0" >
                    <label>Error</label>
                </div>
            </div>
            <div >
                <div class="ui radio checkbox checked{{ if eq .logLevel "warn"}} checked{{ end }}">
                    <input type="radio" name="loglevel" value="warn" {{ if eq .logLevel "warn"}}checked="checked" {{ end }}tabindex="0" >
                    <label>Warn</label>
                </div>
            </div>
            <div >
                <div class="ui radio checkbox{{ if eq .logLevel "info"}} checked{{ end }}">
                    <input type="radio" name="loglevel" value="info" {{ if eq .logLevel "info"}}checked="checked" {{ end }}tabindex="0" >
                    <label>Info</label>
                </div>
            </div>
            <div >
                <div class="ui radio checkbox{{ if eq .logLevel "debug"}} checked{{ end }}">
                    <tnput type="radio" name="loglevel" value="debug" {{ if eq .logLevel "debug"}}checked="checked" {{ end }}tabindex="0" class="hidden">
                        <label>Debug</label>
                </div>
            </div>
        </div>

        <script>
         window.onload = function() {
             $('.ui.dropdown')
                 .dropdown({
                     allowAdditions: true
                 })
             ;

             $('.ui.radio.checkbox')
                 .checkbox()
             ;
         }
        </script>

        {{ if .error }}
            <div >
                <div >Validation failed</div>
                <p>{{ .error }}</p>
            </div>
        {{ end }}
        {{ if eq .action "create" }}
            <button  type="submit">Submit</button>
        {{ else if eq .action "edit" }}
            <button  type="submit">Update</button>
        {{ end }}
    </form>

    {{ if .yaml }}
        <h3 >Instance Preview</h3>

        <h5 >
            unleash.yaml
        </h5>
        <div  style="padding: 0;">
            <pre style="margin: 0; overflow: scroll;"><code >{{ .yaml }}</code></pre>
        </div>
    {{ end }}
{{ end }}
