{{define "content"}}

<a href="new">
  <i class="pencil alternate icon"></i> New Instance
</a>

<div class="ui breadcrumb">
  <a class="section" href="/">Home</a>
  <div class="divider"> / </div>
  <div class="active section">Unleash</div>
</div>

{{ if eq .status "positive" }}
<div class="ui positive message">
  <i class="close icon"></i>
  Unleash instance was created successfully!
</div>
{{ end }}

{{ if .instances }}
<div class="ui relaxed divided list">
  {{ range .instances }}
  <div class="item">
    {{ if not .IsReady }}
    <div class="right floated content">
      <div class="ui {{ .StatusLabel }} label">
        <i class="exclamation triangle icon"></i> {{ .Status }}
      </div>
    </div>
    {{ end }}
    <i class="large toggle on middle aligned icon"></i>
    <div class="content">
      <a class="header" href="{{ .TeamName }}">{{ .TeamName }}</a>
      <div class="description">{{ .CreatedAt }}</div>
    </div>
  </div>
  {{ end }}
</div>
{{ else }}
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="toggle on icon"></i>
    No Unleash Instances have been created yet.
  </div>
  <a class="ui primary button" href="new">Create Instance</a>
</div>
{{ end }}
{{ end }}
