{{define "content"}}
<div class="ui breadcrumb">
  <a class="section" href="/">Home</a>
  <div class="divider"> / </div>
  <a class="section" href="/unleash/">Unleash</a>
  <div class="divider"> / </div>
  <a class="section" href="/unleash/{{ .name }}">{{ .name }}</a>
  <div class="divider"> / </div>
  <div class="active section">Delete</div>
</div>

<h3 class="ui header">Confirm deletion</h3>
{{ if .error }}
<div class="ui error message">
  <i class="close icon"></i>
  {{ .error }}
</div>
{{ end }}

<form class="ui form" method="POST">
  <div class="field{{ if .error }} error{{ end }}">
    <div class="name field{{ if .error}} error{{ end }}">
      <label>Instance Name</label>
      <input name="name" type="text" value="">
      <p>Type the name of the Unleash instance <em>{{ .name }}</em> to delete it.</p>
    </div>
  </div>
  <button class="negative ui button" type="submit">Delete</button>
</form>
{{end}}