{{define "content"}}
<div>
  <a href="/">Home</a>
  <div>/</div>
  <a href="/unleash/">Unleash</a>
  <div>/</div>
  <a href="/unleash/{{ .name }}">{{ .name }}</a>
  <div>/</div>
  <div>Delete</div>
</div>

<h3>Confirm deletion</h3>
{{ if .error }}
<div>
  <i></i>
  {{ .error }}
</div>
{{ end }}

<form class="ui form" method="POST">
  <div class="field{{ if .error }} error{{ end }}">
    <div class="name field{{ if .error}} error{{ end }}">
      <label>Instance Name</label>
      <input name="name" type="text" value="" />
      <p>
        Type the name of the Unleash instance <em>{{ .name }}</em> to delete it.
      </p>
    </div>
  </div>
  <button type="submit">Delete</button>
</form>
{{end}}
