{{define "content"}}
{{ if eq .status "positive" }}
<div class="ui positive message">
  <i class="close icon"></i>
  Unleash instance was created successfully!
</div>
{{ end }}
<a href="new">
  <i class="pencil alternate icon"></i> New Instance
</a>
<p>Welcome to Unleash as a Service</p>
<div class="ui relaxed divided list">
  {{ range .instances }}
  <div class="item">
    <div class="right floated content">
      <a class="ui button" href="{{ .DatabaseName }}/delete">Delete</a>
    </div>
    <i class="large toggle on middle aligned icon"></i>
    <div class="content">
      <a class="header" href="{{ .DatabaseName }}">{{ .DatabaseName }}</a>
      <div class="description">Updated 22 mins ago</div>
    </div>
  </div>
  {{ end }}
</div>
{{end}}