{{define "content"}}

<a >{{ .instance.Status }}</a>

<div >
  <div >
    <div >
      <a  href="/">Home</a>
      <div > / </div>
      <a  href="/unleash/">Unleash</a>
      <div > / </div>
      <div >{{ .instance.Name }}</div>
    </div>
  </div>
  <div >
    <div >
      <a  href="./edit"><i ></i></a>
      <a  href="./delete"><i ></i></a>
    </div>
  </div>
</div>

<h5 >unleash.yaml</h5>
<div  style="padding: 0;">
  <pre
    style="margin: 0; overflow: scroll; max-height: 250px;"><code >{{ .instanceYaml }}</code></pre>
</div>

<h3 >
  <i ></i>
  <div >
    Access Control
    <div >Access to Unleash</div>
  </div>
</h3>

<div >
  <div >
    <div >
      {{ if .unleashEnableFederation }}
        <span >Enabled</span>
      {{ else }}
      <div >
        <i ></i> Disabled
      </div>
      {{ end }}
    </div>
    <!--<i ></i>-->
    <div >Federation Enabled</div>
  </div>
  <div >
    <div >
      {{ if len .unleashAllowedTeams }}
      {{ range $index, $element := .unleashAllowedTeams }}
        <span >{{ $element }}</span>
      {{ end }}
      {{ else }}
      <div >
        <i ></i> Empty
      </div>
      {{ end }}
    </div>
    <!--<i ></i>-->
    <div >Allowed Teams</div>
  </div>
  <div >
    <div >
      {{ if len .unleashAllowedNamespaces }}
      {{ range $index, $element := .unleashAllowedNamespaces }}
        <span >{{ $element }}</span>
      {{ end }}
      {{ else }}
      <div >
        <i ></i> Empty
      </div>
      {{ end }}
    </div>
    <!--<i ></i>-->
    <div >Allowed Namespaces</div>
  </div>
  <div >
    <div >
      {{ if len .unleashAllowedClusters }}
      {{ range $index, $element := .unleashAllowedClusters }}
        <span >{{ $element }}</span>
      {{ end }}
      {{ else }}
      <div >
        <i ></i> Empty
      </div>
      {{ end }}
    </div>
    <!--<i ></i>-->
    <div >Allowed Clusters</div>
  </div>
</div>
<h3 >
  <i ></i>
  <div >
    Server Settings
    <div >Kubernetes Resource Settings</div>
  </div>
</h3>

<div >
  <div >
    <div >
      {{ if .unleashCustomVersion }}
      <div >
        <i ></i> {{ .unleashCustomVersion }}</span>
      </div>
      {{ else }}
      <div >
        Latest
      </div>
      {{ end }}
    </div>
    <!-- <i ></i>-->
    <div >Custom Version</div>
  </div>
  <div >
    <div >
      {{ if .unleashLogLevel }}
      <div >{{ .unleashLogLevel }}</div>
      {{ else }}
      <div >Unknown</div>
      {{ end }}
    </div>
    <!-- <i ></i>-->
    <div >Log Level</div>
  </div>
  <div >
    <div >
      {{ if .instance.WebUrl }}
      <a  href="{{ .instance.WebUrl }}">{{ .instance.WebUrl }}</a>
      {{ else }}
      <div >
        <i ></i> Not Found
      </div>
      {{ end }}
    </div>
    <!-- <i ></i>-->
    <div >Web Ingress</div>
  </div>
  <div >
    <div >
      {{ if .instance.ApiUrl }}
      <a  href="{{ .instance.ApiUrl }}">{{ .instance.ApiUrl }}</a>
      {{ else }}
      <div >
        <i ></i> Not Found
      </div>
      {{ end }}
    </div>
    <!--<i ></i>-->
    <div >API ingress</div>
  </div>
</div>

<h3 >
  <i ></i>
  <div >
    Database Settings
    <div >Database Connection Settings</div>
  </div>
</h3>

<div >
  <div >
    <div >
      <a  href="{{ .googleProjectURL }}">{{ .googleProjectID }}</a>
    </div>
    <!--<i ></i>-->
    <div >Google Cloud Project</div>
  </div>
  <div >
    <div >
      <a  href="{{ .sqlInstanceURL }}">{{ .sqlInstanceID }}</a>
    </div>
    <!--<i ></i>-->
    <div >Database Instance</div>
  </div>
  <div >
    <div >
      <div >
        {{ .sqlInstanceAddress }}
      </div>
    </div>
    <!--<i ></i>-->
    <div >Database Address</div>
  </div>
  <div >
    <div >
      <div >
        {{ .sqlDatabaseName }}
      </div>
    </div>
    <!--<i ></i>-->
    <div >Database Name</div>
  </div>
  <div >
    <div >
      <div >
        {{ .sqlDatabaseUser }}
      </div>
    </div>
    <!--<i ></i>-->
    <div >Database User</div>
  </div>
  <div >
    <div >
      <div >
        {{ .sqlDatabaseSecret }}
      </div>
    </div>
    <!--<i ></i>-->
    <div>Database Secret</div>
  </div>
</div>
{{end}}
