{{define "content"}}
<div class="ui breadcrumb">
  <a class="section" href="/">Home</a>
  <div class="divider"> / </div>
  <a class="section" href="/unleash/">Unleash</a>
  <div class="divider"> / </div>
  {{ if eq .action "create" }}
  <div class="active section">New</div>
  {{ else }}
  <a class="section" href="/unleash/{{ .name }}">{{ .name }}</a>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
  {{ end }}
</div>

<h3 class="ui header">Instance Config</h3>

<form class="ui form{{ if .error }} error{{ end }}" method="POST">
  <div class="field">
    <div class="two fields">
      <div class="name field{{ if .nameError}} error{{ end }}">
        <label>Instance Name</label>
        <input name="name" type="text"{{ if eq .action "edit" }} disabled{{ end }} value="{{ .name }}">
      </div>
      <div class="version field{{ if .customVersionError }} error{{ end }}">
        <label>Custom Version</label>
        <div class="ui labeled input">
          <div class="ui label">{{ .customImageName }}:</div>
          <input name="custom-version" type="text" value="{{ .customVersion }}" placeholder="1.2.3">
        </div>
      </div>
    </div>
  </div>

  <div class="teams field{{ if .allowedTeamsError }} error{{ end }}">
    <label>Allowed Teams</label>
    <div class="ui fluid multiple search selection dropdown">
      <input name="allowed-teams" type="hidden" value="{{ .allowedTeams }}">
      <i class="dropdown icon"></i>
      <div class="default text">Teams</div>
      <div class="menu"></div>
    </div>
    <p>Teams that are allowed to access the Unleash server.</p>
  </div>

  <div class="namespaces field{{ if .allowedNamespacesError }} error{{ end }}">
    <label>Allowed Namespaces</label>
    <div class="ui fluid multiple search selection dropdown">
      <input name="allowed-namespaces" type="hidden" value="{{ .allowedNamespaces }}">
      <i class="dropdown icon"></i>
      <div class="default text">Namespaces</div>
      <div class="menu"></div>
    </div>
    <p>Namespaces that are allowed to access the Unleash server.</p>
  </div>

  <div class="clusters field{{ if .allowedClistersError }} error{{ end }}">
    <label>Allowed Clusters</label>
    <div class="ui fluid multiple search selection dropdown">
      <input name="allowed-clusters" type="hidden" value="{{ .allowedClusters }}">
      <i class="dropdown icon"></i>
      <div class="default text">Clusters</div>
      <div class="menu">
      <div class="item" data-value="prod-gcp">prod-gcp</div>
      <div class="item" data-value="dev-gcp">dev-gcp</div>
      <div class="item" data-value="prod-fss">prod-fss</div>
      <div class="item" data-value="dev-fss">dev-fss</div>
      </div>
    </div>
    <p>Clusters that are allowed to access this Unleash server.</p>
  </div>

  <div class="inline fields">
    <label for="fruit">Log Level:</label>
    <div class="field">
      <div class="ui radio checkbox{{ if eq .logLevel "error"}} checked{{ end }}">
        <input type="radio" name="loglevel" value="error" {{ if eq .logLevel "error"}}checked="checked" {{ end }}tabindex="0" class="hidden">
        <label>Error</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox checked{{ if eq .logLevel "warn"}} checked{{ end }}">
        <input type="radio" name="loglevel" value="warn" {{ if eq .logLevel "warn"}}checked="checked" {{ end }}tabindex="0" class="hidden">
        <label>Warn</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox{{ if eq .logLevel "info"}} checked{{ end }}">
        <input type="radio" name="loglevel" value="info" {{ if eq .logLevel "info"}}checked="checked" {{ end }}tabindex="0" class="hidden">
        <label>Info</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox{{ if eq .logLevel "debug"}} checked{{ end }}">
        <tnput type="radio" name="loglevel" value="debug" {{ if eq .logLevel "debug"}}checked="checked" {{ end }}tabindex="0" class="hidden">
        <label>Debug</label>
      </div>
    </div>
  </div>

  <script>
    window.onload = function() {
      $('.ui.dropdown')
        .dropdown({
          allowAdditions: true
        })
      ;

      $('.ui.radio.checkbox')
        .checkbox()
      ;
    }
  </script>

  {{ if .error }}
  <div class="ui error message">
    <div class="header">Validation failed</div>
    <p>{{ .error }}</p>
  </div>
  {{ end }}
  {{ if eq .action "create" }}
    <button class="ui button" type="submit">Submit</button>
  {{ else if eq .action "edit" }}
    <button class="ui button" type="submit">Update</button>
  {{ end }}
</form>

{{ if .yaml }}
<h3 class="ui header">Instance Preview</h3>

<h5 class="ui top attached header">
  unleash.yaml
</h5>
<div class="ui attached segment" style="padding: 0;">
  <pre style="margin: 0; overflow: scroll;"><code class="language-yaml">{{ .yaml }}</code></pre>
</div>
{{ end }}
{{ end }}