{{define "content"}}
{{ if eq .status "positive" }}
<div class="ui positive message">
  <i class="close icon"></i>
  Unleash instance was created successfully!
</div>
{{ end }}
<a href="new">
  <i class="pencil alternate icon"></i> New Instance
</a>
<p>Welcome to Unleash as a Service</p>
{{ if .instances }}
<div class="ui relaxed divided list">
  {{ range .instances }}
  <div class="item">
    <div class="right floated content">
      <a class="ui button" href="{{ .TeamName }}/delete">Delete</a>
    </div>
    <i class="large toggle on middle aligned icon"></i>
    <div class="content">
      <a class="header" href="{{ .TeamName }}">{{ .TeamName }}</a>
      <div class="description">{{ .CreatedAt }}</div>
    </div>
  </div>
  {{ end }}
</div>
{{ else }}
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="toggle on icon"></i>
    No Unleash Instances have been created yet.
  </div>
  <a class="ui primary button" href="new">Create Instance</a>
</div>
{{ end }}
{{ end }}