backend:
  image:
    repository: europe-north1-docker.pkg.dev/nais-io/nais/images/bifrost
    pullPolicy: Always
    tag: main
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
  debugEnabled: false
  logLevel: info
  logFormat: json

  unleash:
    # Kubernetes namespace to create unleash instances in
    # instanceNamespace:  # mapped in fasit

    # Shared Cloud SQL instance ID
    # sqlInstanceId:  # mapped in fasit
    # sqlInstanceAddress:  # mapped in fasit
    # sqlInstanceRegion:  # mapped in fasit

    # Shared service account (used by Cloud SQL auth proxy)
    # googleServiceAccountEmail:  # mapped in fasit
    # kubernetesServiceAccountName:  # mapped in fasit

    # Unleash user interface web ingress config
    # webIngressClass:  # mapped in fasit
    # webIngressHost:  # mapped in fasit

    # Unleash api ingress config
    # apiIngressClass:  # mapped in fasit
    # apiIngressHost:  # mapped in fasit

    # Unleash teams config
    teamsApiUrl: http://teams-backend.nais-system.svc/query
    # teamsApiToken:  # mapped in fasit
    teamsApiTokenSecretName: teams-api-token
    teamsApiTokenSecretKey: token

  google: {}
    # projectId:  # mapped in fasit
    # projectNumber:  # mapped in fasit
    # serviceAccountEmail:  # mapped in fasit
    # iapBackendServiceId:  # mapped in fasit

  teams:
    apiUrl: teams-backend.nais-system.svc
    # apiToken:  # mapped in fasit
    apiTokenSecretKey: token

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  className: nais-ingress-iap
  # host:  # mapped in fasit

networkPolicy:
  enabled: true
  allowDNS: true
  # apiServerCIDR is the CIDR of the Kubernetes API server.
  # apiServerCIDR: 1.2.3.4/32
